body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}
#top-btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* adjust the number of columns as needed */
  grid-column-gap: 140px; /* adjust the gap size as needed */
  grid-row-gap: 5px;
  justify-items: center;
  padding-top: 1%;
}
#fullscreen-button, #view-to-focus, #start-pause-button {
  height: 5vw;
  width: 9vw;
  color: white;
  background-color: #cc9efe;
  font-size: 25px;
  text-align: center;
  border-radius: 5px;
  border: transparent;
}
.canvas-container {
  position: relative;
  padding: 2%;
  width: 100%;
  margin: 0 auto; /* center the container */
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
    border: 5px solid black;
    display: block;
    margin: 0 auto;
}
.mobile-button {  
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-size: 25px;
  text-align: center;
  border-radius: 5px;
  border: transparent;
  background-color: #948ece;
  color: white;
  cursor: pointer;
  height: 7vw;
  width: 9vw;
}
#counters {
  display: flex;
  justify-content: center;
  align-items: center;
}
#total-touches, #touches-since-loss, #high-score {
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
}
  #paddle-buttons-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-left: 15%;
}
#left-btn {
  float: left;
}

/* Style the right button */
#right-btn {
  float: right;
}
.height-button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  background-color: #8077ca;
}

button:hover {
  background-color: #7f49ba;
}

button:active {
  transform: translateY(2px);
  background-color: #7f49ba;
}
#audio-buttons-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding-left: 30%;
}
.autoplay-btn {
  background-color: #5b4fc4; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
footer {
  margin-top: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}
@media only screen and (max-width: 1000px) {
  #canvas {
    width: 50%;
    height: 50%;
  }
  #fullscreen-button, #view-to-focus, #start-pause-button, #right-btn, #left-btn {
    font-size: 20px;
    height: 7vw;
    width: 15vw;
  }  
}
